

<blockquote>
  <p>Win today and we walk together forever</p>
  <small>FRED SHERO <cite title="Source Title">1974 Stanley Cup Finals</cite></small>
</blockquote>

<h1>search for house</h1>

<%# binding.pry %>

<%= bootstrap_form_for House.new,url: house_index_path do |f| %>
<%= f.text_field :street_address %>

<br>

<%= f.text_field :zip %>
<br>

or

<br>
<%= f.text_field :city_state %>

<%= f.submit "search for houses" %>
<% end %>
