<div class="searchpage">

<%= fa_icon "quote-left", class: "text-muted pull-left"
%>
<blockquote>
  <p>Win today and we walk together forever</p>
  <small>FRED SHERO <cite title="Source Title">1974 Stanley Cup Finals</cite></small>
</blockquote>

<div class="col-lg-8">
  <h1>search for house</h1>

  <%= bootstrap_form_for @house, url: house_index_path do |f| %>

    <%= f.text_field :street_address, :autofocus => true, placeholder: "10823 Maplecrest Lane" %>

    <%= f.text_field :zip, placeholder: 20854 %>

    <button class="btn btn-primary btn-block">
      <%= fa_icon("search") %>
      Submit
    </button>
  <% end %>
</div>
</div>
