<div class="col-md-10 col-lg-7 col-sm-12 ">
<!-- house-info -->
<p style="font-size:24px">
<%= @params["address"]["street"] %>

<br>
<%= @params["address"]["city"] %>,
<%= @params["address"]["state"] %>
<br>
</p>

<ul>
<li>
Current Price = <%= number_with_delimiter(@params["zestimate"]["amount"]["__content__"]) %> USD
</li>

<li>Year Built = <%= @params["yearBuilt"] %></li>
<li>Finished Square Feet = <%= @params["finishedSqFt"] %></li>
<li>Bathrooms = <%= @params["bathrooms"] %></li>
<% if @params["lastSoldPrice"] == [] %>
<li>Last sold price and date not available</li>
<% else %>
<li>Last Sold Price = <%= number_with_delimiter(@params["lastSoldPrice"]["__content__"]) %> USD</li>
<li>Last Sold Date = <%= @params["lastSoldDate"] %></li>
<% end %>
</ul>

<!-- mortgage page. still need to make -->
<%= link_to "View mortgage info", house_mortgage_info_path(params["id"]), class: "btn btn-primary" %>
</div>

<div class="col-md-7 col-lg-5 ">
  <!-- walkscore -->

<p style="font-size:24px">
  WalkScore = <%= @walk_score[0] %>
  <br>
  <%= @walk_score[1] %>
</p>

<br>

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td>90&ndash;100</td>
      <td><strong>Walker&rsquo;s Paradise</strong><br> Daily errands do not require a car</td>
    </tr>
    <tr>
      <td>70&ndash;89</td>
      <td><strong>Very Walkable</strong><br>Most errands can be accomplished on foot</td>
    </tr>
    <tr>
      <td>50&ndash;69</td>
      <td><strong>Somewhat Walkable</strong><br>Some errands can be accomplished on foot</td>
    </tr>
    <tr>
      <td>25&ndash;49</td>
      <td><strong>Car-Dependent</strong><br>Most errands require a car</td>
    </tr>
    <tr>
      <td>0&ndash;24</td>
      <td><strong>Car-Dependent</strong><br>Almost all errands require a car</td>
    </tr>
  </tbody>
</table>

</div>
