<div class="col-lg-7">

<p style="font-size:24px">
<%= @params["address"]["street"] %>

<br>
<%= @params["address"]["city"] %>,
<%= @params["address"]["state"] %>
<br>
</p>


<ul>
<li>
Current Price = <%= @params["zestimate"]["amount"]["__content__"] %> USD
</li>

<li>Year Built = <%= @params["yearBuilt"] %></li>
<li>Finished Square Feet = <%= @params["finishedSqFt"] %></li>
<li>Bathrooms = <%= @params["bathrooms"] %></li>
<li>Last Sold Date = <%= @params["lastSoldDate"] %></li>
<li>Last Sold Price = <%= @params["lastSoldPrice"]["__content__"] %> USD</li>
</ul>
<%= link_to "View mortgage info", house_mortgage_info_path(params["id"]) %>
</div>


<div class="col-lg-3">

WalkScore = <%= @walk_score[0] %>

<br>

description = <%= @walk_score[1] %>


<table>
  <tbody>
    <tr>
      <td>90&ndash;100</td>
      <td><strong>Walker&rsquo;s Paradise</strong><br> Daily errands do not require a car</td>
    </tr>
    <tr>
      <td>70&ndash;89</td>
      <td><strong>Very Walkable</strong><br>Most errands can be accomplished on foot</td>
    </tr>
    <tr>
      <td>50&ndash;69</td>
      <td><strong>Somewhat Walkable</strong><br>Some errands can be accomplished on foot</td>
    </tr>
    <tr>
      <td>25&ndash;49</td>
      <td><strong>Car-Dependent</strong><br>Most errands require a car</td>
    </tr>
    <tr>
      <td>0&ndash;24</td>
      <td><strong>Car-Dependent</strong><br>Almost all errands require a car</td>
    </tr>
  </tbody>
</table>

</div>
