<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Welcome Message</title>
</head>
<body>
  <center>
    <table width="600" background="#FFFFFF" style="text-align:left;" cellpadding="0" cellspacing="0">
      <tr>
        <td height="18" width="31" style="border-bottom:1px solid #e4e4e4;">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
        <td height="18" width="131">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
        <td height="18" width="466" style="border-bottom:1px solid #e4e4e4;">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
      </tr>
      <tr>
        <td height="2" width="31" style="border-bottom:1px solid #e4e4e4;">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
        <td height="2" width="131">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
        <td height="2" width="466" style="border-bottom:1px solid #e4e4e4;">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
      </tr>
      <!--RED STRIPE-->
      <tr>
        <td background="images/greenback.gif" width="31" bgcolor="#EB6864" style="border-top:1px solid #FFF; border-bottom:1px solid #FFF;" height="113">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>

        <!--WHITE TEXT AREA-->
        <td width="131" bgcolor="#FFFFFF" style="border-top:1px solid #FFF; text-align:center;" height="113" valign="middle">
          <span style="font-size:25px; font-family:Trebuchet MS, Verdana, Arial; color:#EB6864;">Success!</span>
        </td>

        <!--GREEN TEXT AREA-->
        <td background="images/greenback.gif" bgcolor="#EB6864" style="border-top:1px solid #FFF; border-bottom:1px solid #FFF; padding-left:15px;" height="113">
          <span style="color:#FFFFFF; font-size:18px; font-family:Trebuchet MS, Verdana, Arial;">Thank you for signing up for HouseMouse!</span> <br>
          <span style="color:#FFFFFF; font-size:12px; font-family:Trebuchet MS, Verdana, Arial;">I am so excited to see you join the family.</span>
        </td>
      </tr>

      <!--DOUBLE BORDERS BOTTOM-->
      <tr>
        <td height="3" width="31" style="border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
        <td height="3" width="131">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
        <td height="3" style="border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;">
          <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <!--CONTENT STARTS HERE-->
          <br />
          <br />
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td width="600" style="padding-right:10px; font-family:Trebuchet MS, Verdana, Arial; font-size:12px;" valign="top", align="center">
                <span style="font-family:Trebuchet MS, Verdana, Arial; font-size:17px; font-weight:bold;">Welcome <%= @email.split("@").first %>!</span>
                <br />
                <p>Click the mouse below to confirm your email, and get ready to access all the goodies in HouseMouse</p>
                <br />

                <!-- confirmation link  -->
                <%# link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>

                <a href= <%= confirmation_url(@resource, confirmation_token: @token) %>>
                  <img src="http://i.imgur.com/IdyzFk7.jpg" height="200" width="225" align="middle" alt="HouseMouse logo" />
                </a>
                <br>
                Sincerely,<br/>
                Christopher Lai<br/>

                HouseMouse Senior Back-End dev<br/>
                <br/>
              </tr>
            </table>
          </td>
        </tr>
      </table>


      <br />
      <table cellpadding="0" style="border-top:1px solid #e4e4e4; text-align:center; font-family:Trebuchet MS, Verdana, Arial; font-size:12px;" cellspacing="0" width="600">
        <tr>
          <td height="2" style="border-bottom:1px solid #e4e4e4;">
            <div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
          </td>
        </tr>
        <td style="font-family:Trebuchet MS, Verdana, Arial; font-size:12px;">
          <span style="font-size:10">This welcome email was sent to <%= @email %> because you recently signed up for an account at <a href="housemouse.herokuapp.com">HouseMouse</a>.
          </span>
          <br />
          <a href="#">Unsubscribe </a>
        </td>
      </tr>
    </table>
  </center>
</body>
</html>
