<!DOCTYPE html>
<html>
<head>
  <title>HouseMouse</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<main>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= fa_icon("pied-piper") %>
          House Mouse</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <% hCount = UserHouse.where(user_id: current_user.id).length %>
            <li class="active"><a href=<%= house_index_path %>>My houses <span class="badge"><%= hCount %></span></a></li>

            <% else %>
            <li class="disabled"><a>My houses</a></li>
            <div class="popup">
              <p id="hi">
                Please sign in to view your houses
              </p>
            </div>

            <script type="text/javascript">

            $(".popup").hide();

            $(".disabled")
            .mouseenter(function(){$(".popup").show();})
            .mouseleave(function(){$(".popup").hide();});
            </script>

            <% end %>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><a href="#">Welcome, <%= current_user.email.split("@")[0] %>!</a></li>

            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Your Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=<%= edit_user_registration_path %>>Edit Your Account</a></li>
                <li class="divider"></li>

                <li>  <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>
            <li>
              <li><a href= <%= new_user_session_path %> > Sign In <span class="sr-only">(current)</span></a></li>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <% if notice %>
  <p class="notice">
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= notice %></strong>
    </div>
  </p>
  <% end %>

  <script type="text/javascript">
  window.setTimeout(function() {
      $(".alert-info").hide();
    }, 3000);

  // window.setTimeout($(".alert-info").hide, 3000);
//

//   setTimeout(function() {
//   $(".notice").fadeOut().empty();
// }, 3000);

  </script>

  <% if alert %>
  <p class="alert">
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= alert %></strong>
    </div>
  </p>
  <% end %>


  <div class="padding">
    <%= yield %>
  </div>

  <div class="container">
    <footer class="footer navbar-fixed-bottom">
      <aside id="media">
        <%= link_to fa_icon("twitter 2x"), "https://twitter.com/houseinvestor8", target: 'blank'  %>
        <%= link_to fa_icon("instagram 2x"), "https://www.instagram.com/HouseInvestor/?hl=en", target: 'blank' %>
        <%= link_to fa_icon("github 2x"), "https://github.com/clai88/House-Investor", target: 'blank' %>
      </aside>
    </footer>
  </div>
</body>
</main>
</html>
