<!DOCTYPE html>
<html>
<head>
  <title>HouseHouse</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<main>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= fa_icon("cloud") %>
          Pillow</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <% hCount = UserHouse.where(user_id: current_user.id).length %>
            <li class="active"><a href=<%= house_index_path %>>My houses <span class="badge"><%= hCount %></span></a></li>


            <% else %>
            <li class="disabled"><a href="#">My houses <span class="sr-only">(current)</span></a></li>

            <script type="text/javascript">

            $(document).ready(function() {
              $("disabled").on("hover", function(){
                $("body").css("background-color", '#663399');
              });
            });
            </script>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><a href="#">Welcome, <%= current_user.email.split("@")[0] %>!</a></li>

            <li><a href= <%= edit_user_registration_path %> > Your Account <span class="sr-only">(current)</span></a></li>
            <% else %>
            <li>
              <span style="color:white">
              <%= link_to fa_icon("sign-in x") + "  Sign in", new_user_session_path %>
              </span>
            </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="padding">
      <%= yield %>
    </div>


    <div class="container">
      <footer class="footer navbar-fixed-bottom">
        <aside id="media">
          <%= link_to fa_icon("twitter 2x"), "https://twitter.com/houseinvestor8", target: 'blank'  %>
          <%= link_to fa_icon("instagram 2x"), "https://www.instagram.com/HouseInvestor/?hl=en", target: 'blank' %>
          <%= link_to fa_icon("github 2x"), "https://github.com/clai88/House-Investor", target: 'blank' %>
        </aside>
      </footer>
    </div>
  </body>
</main>
</html>
